.employeeList {
    margin: auto;
    max-width: 60%;
    background-color: lightgray;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.department {
    font-weight: bold;
}

ul {
    list-style-type: none;
}